.accordion {
    &.is-theme-default {
        border: 1px solid;

        .accordion-item {
            @include state(active, false, false) {
                .accordion-content {
                    height: 0 !important;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid;
            }
        }

        .accordion-button {
            background-color: #eee;
        }

        .accordion-content {
            overflow: hidden;
            @include transition(height);
        }

        .accordion-content-inner {
            padding: 20px;
            border-top: 1px solid;
        }
    }
}
