.accordion {
    &-item {
        @include transition(opacity);

        .accordion.has-open-item > &:not(.is-open) {
            opacity: 0.5;
        }
    }

    &-tab {
        cursor: pointer;
        padding: 10px 0;
        border-bottom: 1px solid gray;
        @include transition(border-bottom);

        .accordion-item.is-open & {
            border-bottom-color: $color--black;
        }
    }

    &-content {
        @include transition-height('.accordion-item:not(.is-open) > &');
    }

    &-content-inner {
        padding: 10px 0 20px;
    }
}
