.button {
    display: inline-block;
    position: relative;
    border: 1px solid $color--black;

    &.is-theme-default {
        background-color: rgba($color--black, 0.1);
    }

    &-inner {
        @extend %text--button;
        padding: 10px 20px;
    }

    &-link {
        @include overlay;
    }
}
