.button {
    display: inline-block;
    position: relative;
    border: 1px solid $color--black;

    &.is-theme-default {
        background-color: rgba($color--black, 0.1);
    }

    &-inner {
        padding: 10px 20px;
    }
}
