.image {
    &.is-overlay {
        @include overlay;
    }

    &-inner {
        position: relative;
        overflow: hidden;

        .image.is-overlay & {
            @include overlay;
        }
    }

    &-object {
        @include background;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .image.is-lazyload-default & {
            opacity: 0;
            @include transition(opacity);
        }

        .image.is-lazyload-default.is-loaded & {
            opacity: 1;
        }

        .image.is-overlay & {
            @include overlay;
        }

        &.has-overlay {
            &:before {
                content: '';
                @include overlay;
                background: rgba($color--black, 0.4);
            }
        }
    }

    &-element {
        opacity: 0;

        .image.is-theme-default & {
            width: 100%;
            height: auto;
        }
    }

    &-overlay-text {
        position: relative;
        z-index: 1;
    }

    &-caption {
    }
}
