/**
 * Slider
 *
 * Note: Appearance of arrow and dot elements are configured in the
 * slider-arrow and slider-dot themes in ../forms/button
 */

.slider {
    &.is-theme-default {
        position: relative;

        @include state(initialized, false, false) {
            .slider-slide:not(:first-child) {
                display: none;
            }
        }

        .slider-arrow {
            @include center(vertical);

            &.is-previous {
                left: 0;
            }

            &.is-next {
                right: 0;
            }
        }

        .slider-dots {
            text-align: center;
            cursor: default;
            @include inline-layout();
        }
    }
}
