.slider {
    position: relative;

    &-control {
        @include center(vertical);

        &.is-previous {
            left: 0;
        }

        &.is-next {
            right: 0;
        }
    }

    &-pagination {
        text-align: center;
        cursor: default;
        @include inline-layout();
    }

    &-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba($color--black, 0.5);
        margin: 5px;

        &.is-active {
            background-color: $color--black;
        }

        &:hover {
            @include hover {
                background-color: rgba($color--black, 0.75);
            }
        }
    }
}
