.tabs {
    .tabs-inner {
        border: 1px solid;
    }

    .tabs-toggles {
        @include inline-layout;
    }

    .tabs-items {
        border-top: 1px solid;
    }

    .tabs-item {
        @include state(active, false, false) {
            display: none;
        }
    }

    .tabs-item-inner {
        padding: 20px;
    }
}
