/*
@include font(
	$family: 'Monstro Solid',
	$filename: 'MonstroSolid',
	$formats: woff
);

@include font(
	$family: 'Usual',
	$formats: woff woff2,
	$variations: (
		(filename: 'Usual-Light'),
		(filename: 'Usual-Medium', weight: 500),
		(filename: 'Usual-Bold', weight: 700)
	)
);
*/
