.image {
    &.is-theme-default {
        .image-img {
            display: block;
            max-width: 100%;
        }
    }

    &.is-theme-overlay {
        @include overlay;
        overflow: hidden;

        &.is-cover,
        &:not(.is-contain) {
            @include background($size: cover);
        }

        &.is-contain {
            @include background($size: contain);
        }

        .image-img {
            @include center;
            min-width: 100%;
            min-height: 100%;
            opacity: 0;
        }
    }
}