.link {
    cursor: pointer;

    &.is-theme-default {
        display: inline-block;

        .link-inner {
            border-bottom: 1px solid;
        }
    }

    &.is-theme-overlay {
        @include overlay;

        .link-inner {
            display: none;
        }
    }

    &.is-theme-menu-link {
        // flex-grow: 1;
    }
}
