@include reset;

html,
body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

// TODO: lägg till i reset för att motverka overflow problem
* {
    outline-offset: -1px;
}
