@include reset;

<<<<<<< Updated upstream
html,
body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
=======
html, body {
	position: relative;
	overflow-x: hidden;
	width: 100%;
>>>>>>> Stashed changes
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}
