/**
 * Bolts WP v1.0 | MIT License
 *
 * Developed by Pocketsize
 * http://www.pocketsize.se/
 */

// Importing variables to pass them on to Bolts Scss
@import 'helpers/variables';

$bolts-reset-focus-styles:                   false;
$bolts-reset-list-styles:                    false;

$bolts-img-display:                          block;
$bolts-img-max-width:                        100%;

$bolts-default-container-width:              $width--container;
$bolts-default-container-max-width:          $max-width--container;
$bolts-default-container-align:              center;

$bolts-default-background-size:              cover;
$bolts-default-background-position:          50% 50%;

$bolts-default-transition-duration:          $duration--default;
$bolts-default-transition-easing:            $easing--default;

$bolts-default-inline-layout-vertical-align: top;
$bolts-default-inline-layout-gutters:        false;

$bolts-default-flex-layout-gutters:          false;

$bolts-default-font-path:                    '../fonts';

$bolts-default-pseudo:                       after;

$bolts-default-auto-col-min:                 1;
$bolts-default-auto-col-max:                 12;

$bolts-default-responsive-font-size-ratio:   1.6;

$bolts-selectors: (
    headings: 'h1, h2, h3, h4, h5, h6',
    inputs:
    'input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea',
    text-elements:
    'h1, h2, h3, h4, h5, h6, p, ol li, ul li, dl dt, dl dd, address',
    text-inputs: 'input[type="text"], input[type="email"]',
    buttons:
    'button, input[type="reset"], input[type="submit"], input[type="button"]',
    embed-elements: 'iframe, object, embed, video'
);

$bolts-breakpoints: (
    xsmall: 350px,
    small: 500px,
    medium: 900px,
    large: 1200px,
    xlarge: 1600px,
    main-menu: 800px
);

@import '~bolts-lib/src/sass/bolts';

// Helpers
@import 'helpers/typography';
@import 'helpers/placeholders';
@import 'helpers/mixins';

// Global
@import 'global';

// Templates
@import 'templates/archive';

// Common components
@import 'components/common/button';
@import 'components/common/image';
@import 'components/common/link';
@import 'components/common/content';
//@import 'components/common/slider';
//@import 'components/common/tabs';

// Layout components
@import 'components/layouts/full';
@import 'components/layouts/split';

// Components
@import 'components/footer';
@import 'components/header';
@import 'components/main-menu';
@import 'components/post-preview';
//@import 'components/accordion';

// Forms
@import 'components/forms/form';
@import 'components/forms/checkbox';
@import 'components/forms/checkboxes';
@import 'components/forms/field-info';
@import 'components/forms/radio-button';
@import 'components/forms/radio-buttons';
@import 'components/forms/select';
@import 'components/forms/text-input';
@import 'components/forms/textarea';

// External
//@import 'external/choices';

// 😳 😳 😳
@import 'shame.scss';
