{
    "rules": {
        "indent": [
            "warn",
            4
        ],
        "quotes": [
            "warn",
            "single"
        ],
        "comma-dangle": 0
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}