.header {
    position: $display--header !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(#ddd, 0.5);

    &-inner {
        @include container;
        @include flex-row;
        align-items: center;
        height: $height--header;
    }

    &-link {
        flex-grow: 1;
    }

    &-button {
        @media (width-from(medium)) {
            display: none;
        }
    }
}
