%embed-wrapper {
    position: relative;
    @include aspect-ratio(16, 9);
    overflow: hidden;

    @include select(embed-elements) {
        @include overlay($force-size: true);
    }
}

%image-wrapper {
    display: inline;
}

%disabled-input {
    opacity: 0.1;
    cursor: not-allowed;
}

%fieldset {
    display: block;
    width: 100%;
}
