%text--base {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

%text--title-base {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

%text--title-primary {
    @extend %text--title-base;

    @media (width-to(medium)) {
        font-size: 25px;
    }

    @media (width-from(medium)) {
        font-size: 40px;
    }
}

%text--link {
    @extend %text--base;
    border-bottom: 1px solid;
}

%text--button {
    @extend %text--base;
    font-weight: 700;
}

%embed-wrapper {
    position: relative;
    @include aspect-ratio(16, 9);
    overflow: hidden;

    @include select(embed-elements) {
        @include overlay($force-size: true);
    }
}

%disabled-input {
    opacity: 0.5;
    cursor: not-allowed;
}

%content--wysiwyg {
    @include clear;

    @include select(headings) {
        @extend %text--title-base;
    }

    p,
    ul,
    ol {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    ul,
    ol {
        padding-left: 20px;
    }

    p,
    li {
        @extend %text--base;
    }

    /*
    p:not(.image-wrapper) {
        max-width: 45em;
    }
    */

    a:hover {
        text-decoration: underline;
    }

    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    ins,
    u {
        text-decoration: underline;
    }

    del,
    s {
        text-decoration: line-through;
    }

    .embed-wrapper {
        @extend %embed-wrapper;
    }

    .alignleft,
    .alignright {
        margin-bottom: 10px;
    }

    .alignleft {
        float: left;
        margin-right: 20px;
    }

    .alignright {
        float: right;
        margin-left: 20px;
    }
}
