// Colors
$color--black: black;
$color--white: white;
$color--red: red;

$color--warning: $color--red;

// Defaults
$gutter--default: 40px;
$spacing--default: 20px;
$font-size--default: 16px;
$duration--default: 500ms;
$easing--default: cubic-bezier(0.56, 0.05, 0.12, 1);

// Container
$width--container: 90%;
$max-width--container: 1080px;

// Forms
$height--input: 40px;
$width--input-border: 1px;
$color--input-border: $color--black;
$color--input-background: $color--white;
$font-size--input: $font-size--default;
$padding--input-x: 10px;
$padding--input-y: ($height--input - $font-size--input) / 2;
