// Colors
$color--black: black;
$color--white: white;
$color--red: red;

$color--warning: $color--red;

// Metrics
$gutter--base: 40px;

$width--container: 100%;
$max-width--container: 1240px;

$input--height: 40px;
$input--x-padding: 10px;

// Animation related
$duration--default: 500ms;
$easing--default: cubic-bezier(0.56, 0.05, 0.12, 1);
