.button {
    display: inline-block;
    position: relative;
    border: 1px solid $color--black;

    &.is-theme-default {
        background-color: rgba($color--black, 0.1);

        .button-inner {
            padding: $padding--input-y $padding--input-x;
        }
    }
}