.button {
    display: inline-block;
    position: relative;
    border: $width--input-border solid $color--input-border;

    .button-inner {
        padding: $padding--input-y $padding--input-x;
    }
}