.checkbox {
    position: relative;
    user-select: none;
    display: block;
    @include clear-whitespace(null, false);

    &-input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    &-faux-input {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $color--black;
        background-color: $color--white;

        .checkbox-input:focus + & {
        }

        .checkbox-input:checked + & {
        }

        .checkbox-input:checked:focus + & {
        }

        .checkboxes.has-error &,
        .checkbox.has-error & {
            border-color: $color--warning;
        }

        .checkbox-input:disabled + & {
            @extend %disabled-input;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: black;
            width: 2px;
            height: 10px;
            opacity: 0;

            .checkbox-input:checked + & {
                opacity: 1;
            }
        }

        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &-label {
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;

        .checkboxes.has-error &,
        .checkbox.has-error & {
            color: $color--warning;
        }

        .checkbox-input:disabled + .checkbox-faux-input + & {
            @extend %disabled-input;
        }
    }
}