.field-info {
    &-label-wrapper {
        /* display: flex;
        align-items: center; */
        @include conditional-spacing(10px);
    }

    &-label {
        font-weight: 700;
    }

    &-description  {
    }

    &-required-mark {
    }

    &-validation-message {
        color: $color--warning;
        display: block;
        @include transition-height('.text-input:not(.has-error) &');
    }
}
