.select {
    &-inner {
        position: relative;
        display: table;

        &:after {
            content: '';
            position: absolute;
            right: 12px;
            top: 50%;
            bottom: 0;
            width: 8px;
            height: 8px;
            color: $color--black;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: translateY(-75%) rotate(-45deg);
            pointer-events: none;
        }
    }

    &-select {
        display: table;
        padding: 0 30px 0 10px;
        height: $height--input;
        line-height: 38px;
        font-size: $font-size--input;
        width: 100%;
        appearance: none;
        background-color: $color--white;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        border-radius: 0;
        cursor: pointer;
        border: 1px solid;

        &::-ms-expand {
            display: none;
        }

        &:focus {
            outline: none;
        }

        option {
            font-size: 16px !important;
        }
    }

    &.has-error &-select {
        border-color: $color--warning;
    }
}
