/**
 * Quirks:
 *
 * Browsers are a bit stupid when rendering
 * different input types, so for a consistent
 * look for inputs, selects etc. we set the height
 * in a global variable.
 *
 * X-padding is set separately from the height.
 */

.text-input {
    width: 100%;
    @extend %form-component-spacing;

    &-inner {
        position: relative;
    }

    // Input height is set here
    &-faux-input-outer {
        position: relative;
        height: $input--height;
        padding: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;

        .text-input.has-error-animation & {
            animation: error 800ms linear;
        }
    }

    &-faux-input {
        @include overlay;
        border: 1px solid black;

        .text-input-input:focus + & {
            border: 1px solid blue;
        }

        .text-input-input:disabled + & {
            @extend %disabled-input;
        }

        .text-input.has-error & {
            border: 1px solid $color--warning;
        }
    }

    // X-padding is set here
    &-input {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: $input--x-padding;
        padding-right: $input--x-padding;
        z-index: 1;
    }
}
