.textarea {
    //width: 100%;

    &-inner {
    }

    &-faux-input-outer {
        position: relative;
    }

    &-faux-input {
        @include overlay;
        border: 1px solid $color--black;
        background-color: $color--white;

        .textarea-input:focus + & {
        }

        .textarea-input:disabled + & {
            opacity: 0.5;
        }

        .textarea.has-error & {
            border-color: $color--warning;
        }
    }

    &-input {
        display: block;
        background-color: transparent; /* TODO: should be part of reset */
        width: 100%;
        position: relative;
        z-index: 1;
        padding: $padding--input-y $padding--input-x;
        resize: none;
    }
}
