/**
 * Quirks:
 *
 * Browsers are a bit stupid when rendering
 * different input types, so for a consistent
 * look for inputs, selects etc. we set the height
 * in a global variable.
 *
 * X-padding is set separately from the height.
 */

.text-input {
    &-field-info {
        @include conditional-spacing;
    }

    &-inner {
        position: relative;
        overflow: hidden;
        height: $height--input;
    }

    &-input {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: $padding--input-x;
        padding-right: $padding--input-x;
        z-index: 1;
        background-color: transparent; /* TODO: should be part of reset */
    }

    &-faux-input {
        @include overlay;
        background-color: $color--input-background;
        border: $width--input-border solid $color--input-border;

        .text-input-input:focus + & {
        }

        .text-input-input:disabled + & {
            @extend %disabled-input;
        }

        .text-input.has-error & {
            border-color: $color--warning;
        }
    }
}
