.checkbox {
    &.is-theme-default {
        position: relative;
        user-select: none;
        display: block;
        @include clear-whitespace(null, false);

        .checkbox-input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        .checkbox-faux-input {
            cursor: pointer;
            position: relative;
            overflow: hidden;
            width: 18px;
            height: 18px;
            display: inline-block;
            vertical-align: middle;
            border: $width--input-border solid $color--input-border;
            background-color: $color--input-background;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                background: $color--black;
                width: 2px;
                height: 10px;
                opacity: 0;
            }

            &:before {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            .checkboxes.has-error &,
            .checkbox.has-error & {
                border-color: $color--warning;
            }
        }

        .checkbox-input:focus + .checkbox-faux-input {
        }

        .checkbox-input:checked + .checkbox-faux-input {
            &:before,
            &:after {
                opacity: 1;
            }
        }

        .checkbox-input:checked:focus + .checkbox-faux-input {
        }

        .checkbox-input:disabled + .checkbox-faux-input {
            @extend %disabled-input;
        }

        .checkbox-label {
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
            margin-left: 10px;

            .checkboxes.has-error &,
            .checkbox.has-error & {
                color: $color--warning;
            }
        }

        .checkbox-input:disabled + .checkbox-faux-input + .checkbox-label {
            @extend %disabled-input;
        }
    }
}
