.field-info {
    &.is-theme-default {
        .field-info-label-wrapper {
            @include conditional-spacing(10px);
        }

        .field-info-label {
            font-weight: 700;
        }

        .field-info-description  {
        }

        .field-info-required-mark {
            color: $color--warning;
        }

        .field-info-validation-message {
            color: $color--warning;
            display: block;
            @include transition-height('.text-input:not(.has-error) &');
        }
    }
}
