.textarea {
    &.is-theme-default {
        .textarea-field-info {
            @include conditional-spacing;
        }

        .textarea-inner {
            position: relative;
        }

        .textarea-textarea {
            display: block;
            width: 100%;
            padding: $padding--input-y $padding--input-x;
            border: $width--input-border solid $color--input-border;
            background-color: $color--input-background;
            resize: none;

            &:focus {
            }

            &:disabled {
                @extend %disabled-input;
            }

            .textarea.has-error & {
                border-color: $color--warning;
            }
        }
    }
}
