.accordion {

	&-item {
		transition: opacity $speed--base $easing;
	}

	&-tab {
		cursor: pointer;
		padding: $base--small 0;
		border-bottom: 1px solid $color--dark-gray;
		@include transition(border-bottom);
	}

	&.has-open-item > &-item:not(.is-open) {
		opacity: 0.5;
	}

	&-item.is-open &-tab {
		border-bottom-color: $color--black;
	}

	&-content {
		@include transition-height('.accordion-item:not(.is-open) > &', $speed--base, $easing);
	}

	&-content-inner {
		padding: $base--small 0 $base--medium;
	}
}