.main-menu {
    &-submenu-toggle {
        @media (width-from(main-menu)) {
            display: none;
        }

        &:after {
            content: '▼';
            display: inline-block;
        }
    }

    &-submenu-outer {
        @media (width-to(main-menu)) {
            @include transition-height(
                '.main-menu-item:not(.is-open) > &',
                $speed--base,
                $easing
            );
        }
    }
}
