.post-preview {
    @media (width-from(medium)) {
        display: flex;
    }

    &-image,
    &-content-outer {
        @media (width-from(medium)) {
            flex: 0 0 50%;
        }
    }

    &-content-outer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-content,
    &-link {
        @include conditional-spacing;
    }
}
