.layout-split {
    &.is-theme-default {
        @include inline-layout;
        @include container;

        .layout-split-primary,
        .layout-split-secondary {
            text-align: left;

            @media (width-to(medium)) {
                width: 100%;
            }
        }

        .layout-split-primary {
            @media (width-from(medium)) {
                width: 50%;
                padding-right: $gutter--default / 2;
            }
        }

        .layout-split-secondary {
            @media (width-from(medium)) {
                width: 50%;
                padding-left: $gutter--default / 2;
            }
        }
    }
}
