.layout-split {
    @include inline-layout;
    @include container;

    &-primary,
    &-secondary {
        text-align: left;

        @media (width-to(medium)) {
            width: 100%;
        }
    }

    &-primary {
        @media (width-from(medium)) {
            width: 50%;
            padding-right: $gutter--base / 2;
        }
    }

    &-secondary {
        @media (width-from(medium)) {
            width: 50%;
            padding-left: $gutter--base / 2;
        }
    }
}
